<div>
    <h2>{{route_type}}</h2>

    {% if route_list %}
    <table class="route_list">
        <thead>
            <tr>
                <th>Grade</th>
                <th>Name</th>
                <th>Setter</th>
                <th>Color</th>
                <th>Edit</th>
                <th>Archive</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for route in route_list %}
            <tr>
                <td> {{ route.display_grade }}</td>
                <td>
                    {{ route.name }}
                </td>
                <td>
                    {{ route.get_setter_display }}
                </td>
                <td>
                    {{ route.get_color_display }}
                </td>
                <td> <button id="e{{route.id}}" onclick="edit_route(this.id)">Edit</button> </td>
                <td> <button id="a{{route.id}}" onclick="archive_route(this.id)">Archive</button> </td>
                <td> <button id="d{{route.id}}" onclick="delete_route(this.id)">Delete</button> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No {{route_type}}s have been set. Use the <a href="{% url 'new_route' %}">set route</a> page.</p>
    {% endif %}
</div>