{% extends "routesetting/layout.html" %}
{% block title %}
Routes
{% endblock %}
{% block content %}
<div>
    <h2>Routes</h2>

    {% if route_list %}
    <table class="route_list">
        <thead>
            <tr>
                <th>Grade</th>
                <th>Name</th>
                <th>Setter</th>
                <th>Edit</th>
                <th>Archive</th>
            </tr>
        </thead>
        <tbody>
            {% for route in route_list %}
            <tr>
                <td> V{{ route.grade }}</td>
                <td>
                    {{ route.name }}
                </td>
                <td>
                    {{ route.get_setter_display }}
                </td>
                <td> <button id="e{{route.id}}" onclick="edit_route(this.id)">Edit</button> </td>
                <td> <button id="a{{route.id}}" onclick="archive_route(this.id)">Archive</button> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="display_dist()">dist</button>
<div class="parent graph-parent">
    <div id="boulder dist" class="child graph-child">
        <!-- grade dist chart will be made by js -->
    </div>
    <div id="toprope dist" class="child graph-child">
        <!-- grade dist chart will be made by js -->
    </div>
</div>
{{ route_dist|json_script:"route_dist" }}
{{ color_lookup|json_script:"color_lookup" }}
{% else %}
<p>No messages have been logged. Use the <a href="{% url 'log' %}">Log Message form</a>.</p>
{% endif %}
{% endblock %}