{% extends "routesetting/templates/base.html" %}
{% block title %}
Routes
{% endblock %}
{% block content %}

{% include "routesetting/templates/routelist.html" with route_list=tr_obj route_type="Top rope" only %}
{% include "routesetting/templates/routelist.html" with route_list=b_obj route_type="Boulder" only %}

{% include "routesetting/templates/route_graphs.html" %}

{% if request.user_agent.is_mobile %}
ur on a mobile device
{% endif %}


{% comment %} {{ tr_dist|json_script:"tr_dist" }}
{{ b_dist|json_script:"b_dist"}}
{{ color_lookup|json_script:"color_lookup" }} {% endcomment %}
{% endblock %}